@import "tailwindcss";

:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrains Mono', monospace;
}

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar { width: 4px; }
.scrollbar-custom::-webkit-scrollbar-track { background: transparent; }
.scrollbar-custom::-webkit-scrollbar-thumb { background-color: #30363d; border-radius: 4px; }
.scrollbar-custom::-webkit-scrollbar-thumb:hover { background-color: #58a6ff; }
