@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrains Mono', monospace;
}
